html{
    background-image: url(https://wallpapers.com/images/hd/pastel-leaves-aesthetic-pattern-gjtnfutk6zibt3d5.jpg);
}
nav{
    border: solid;
    border-width: 1px;
    width: 40%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSnGd4BXWyGhfHbStFNO0zKCgIRbIVMnrUAiYbktOCXjnpEjBreYhebrvyt50viZN2iyY&usqp=CAU);
    font-size: 20px;
}