p.tnr{
    border: 3px solid blue
}
h1{
    border: solid;
    border-width: 3px;
    border-color: blue;
}
#especial{
    border-top-color: green;
    border-right-color: violet;
    border-bottom-color: brown;
    border-left-color:salmon;
    border-top-width: 10px;
    border-right-width: 12px;
    border-bottom-width: 5px;
    border-left-width: 2px;
    border-top-style: dashed;
    border-bottom-style: double;
    border-left-style: dotted;
    border-right-style: solid;
}
